.headGraphic h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    color: #401F0C;
    font-family: 'roboto';
}

.headGraphic .article img {
    min-height: 400px;
    width: 100%;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.headGraphic .article p {
    margin-top: 25px;
    color: #401F0C;
    font-family: 'roboto';
    text-align: justify;
    font-size: large;
}

.formatImg  {
    background-size: cover;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.formatImg img {
   position: relative;
}

.headGraphic .article img:hover {
    transform: scale(1.1);
    overflow: hidden;
}

@media only screen and (max-width: 900px) {
.formatImg {
  height: 200px;
  width: 100%;
  bottom: 0;
  left: -30%;
}}