.headMusic h1 {
    text-align: center;
}

.react-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    scale: 1;
    padding-top: 2%; /* Player ratio: 100 / (1280 / 720) */
  }