.headLanguage h1 {
    padding-top: 3%; 
    padding-bottom: 3%; 
    color:#401F0C;
    font-family: 'roboto';
}

.headLanguage .article img {
    width: 100%;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.headLanguage.article p {
    margin-top: 25px;
    color: #401F0C;
    font-family: 'roboto';
    text-align: justify;
    font-size: large;
}

.formatImg  {
    height: 400px;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.formatImg img {
   position: relative;
}


.headLanguage.article img:hover {
    transform: scale(1.1);
    overflow: hidden;
}