.galery-masonry { 
    margin-top: 6px;
}

.galery-masonry img {
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

@keyframes delayZoom {
    0%   {transform: scale(1);}
    100% {transform: scale(1.5);}
  }

.galery-masonry img:hover {
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    animation-name: delayZoom;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 640px) {
    .galery-masonry { margin-top: 24px; }
}

@media only screen and (max-width: 768px) {
    .galery-masonry { margin-top: 12px; }
}

.headGallery .article {
    display: flex;
    flex-direction: row;
    text-justify:distribute-all-lines
}

.headGallery h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    color: #401F0C;
    font-family: 'roboto';
}

.galleryButtons {
    display: flex;
    justify-content: center;
}

.gallery .btn-check:checked + .btn {
    background-color: #A6754B !important;
}

.gallery .btn-check + .btn {
    background-color: #734924 !important;
    border-color: #734924 !important;
}