.galery-masonry { 
    margin-top: 6px;
}

.galery-masonry img {
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

.galery-masonry img:hover {
    overflow: hidden;
    transform: scale(1.5);
    z-index: 2;
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .galery-masonry { margin-top: 24px; }
}

@media only screen and (max-width: 768px) {
    .galery-masonry { margin-top: 12px; }
}

.headGallery .article {
    display: flex;
    flex-direction: row;
    text-justify:distribute-all-lines
}

.headGallery h1 {
    padding-top: 3%;
    padding-bottom: 3%;
    color: #401F0C;
    font-family: 'roboto';
}