.navbar-gradient {
background: #A6535A;
background: linear-gradient(90deg, #A6535A 0%, #591E29 100%);
}

.navbar a {
    color: #e5e7eb;
}

ul.branding {
    font-size: 30px;
}

.background {
    color: #A6535A
}