.headTechno h1 {
    padding-top: 1%; 
    padding-bottom: 1%; 
    color:#401F0C;
    font-family: 'roboto';
}

.headTechno .article img {
    width: 100%;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.headTechno .article p {
    color: #401F0C;
    font-family: 'roboto';
    text-align: justify;
}

.formatImg  {
    height: 400px;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.formatImg img {
   position: relative;
}

.headTechno .article img:hover {
    transform: scale(1.1);
    overflow: hidden;
}